body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.general {
  display: flex;
  flex-direction: row;
  
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardtext {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  font-size: 24px;
  
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
    right: 20px;
}

a{
  text-decoration: none;
  color: white;
  
  
}

.card {
  border: 2px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 343px;
  width: 333px;
  margin: 32px;
}